<!DOCTYPE html>
<html>
  <head>
    <title>OmniauthTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>NEW USER</h1>

    <% if current_user %>
      Welcome <%= current_user.name %>!
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
    <% end %>

    <%= yield %>
  </body>
</html>
